* {
  box-sizing: border-box;
}

html {
  font: 1.2em/1.4 Arial, Helvetica, sans-serif;
}

body {
  padding: 0 0 1em;
  background-color: #D91E63;;;
}

header {
  background-color: #333;
  color: #fff;
  border: 5px solid #000;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em 1em;
  border-top: 1px solid #999;
}

header .title {
  font-size: 150%;
  font-style: italic;
  font-weight: bold;
  padding: 1em;
}

main {
  padding: 0 1em;
  padding: 0px;
  background-color: #D91E63;;;
}


.cards {
  padding: 0px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, 3fr);
}

.cards li {
  border: 5px solid #000;
  margin-bottom: 1em;
}

.cards h2 {
  background-color: #333;
  color: #fff;
  margin: 0;
  padding: 0.5em 1em;
}

.cards .inner {
  padding: 0.5em 1em;
}

.sidebar {
  background-color: rgb(255, 255, 255);
  border: 5px solid #000;
  padding: 0.5em 1em;
  color: #fff;
}

  @media screen and (min-width: 800px){
    * {
      box-sizing: border-box;
    }
  
    html {
      font: 1.2em/1.4 Arial, Helvetica, sans-serif;
    }
  
    body {
      padding: 0 0 1em;
    }
  
    header {
      background-color:#F2BE22;
      color: #fff;
      border: 5px solid #000;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    nav {
      align-self: center;
    }
  
    header ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  
    header a {
      color: rgb(158, 25, 25);
      text-decoration: none;
      display: block;
      padding: 0.5em 1em;
    }
  
    header .title {
      font-size: 150%;
      font-style: italic;
      font-weight: bold;
      padding: 1em;
    }
  
    main {
      padding: 0px;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
      
      
  
    .cards {
      list-style: none;
      
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      grid-auto-rows: minmax(auto, 3fr);
       
  margin-left: auto ;
  margin-right: auto;
    }
  
    .cards li {
      border: 5px solid #000;
      margin-bottom: 1em;
    }
      
      .lqs{
          display:block;
  margin-left: auto;
  margin-right: auto;
          
      }
       
      #Nombre_art{
          color: white;
          font-size: 55px;
          margin: 10px;
      }  
      
      
      .datos_prod{
          color: white;
          font-size: 20px;
          text-align:center;
      }
      
      .img_prod{
          display:block;
  margin-left: auto;
  margin-right: auto;
      }
      
      .validate{
          display:block;
  margin-left: auto;
  margin-right: auto;
      }
      
      .bloques{
          background-color: black;
          border: 5px solid white;
          border-radius: 10px;
              margin: 10px
      }
      
      .btn_agregar{
          display:block;
  margin-left: auto;
  margin-right: auto;
      }
  
   
  
    .cards .inner {
      padding: 0.5em 1em;
    }
  
    .sidebar {
      background-color: #333;
      border: 5px solid #000;
      padding: 0.5em 1em;
      color: #fff;
      border-top: 0px;
    }
  }